<html lang="en">
  <head>

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  <h1><%= htmlWebpackPlugin.options.title %></h1>
  
    <script src="main.js">
    </script>
  <h1>This can consume some weather data</h1>
  <h3>Please pick a city or send some weather data</h3>
  <a href="aarhus.html">Aarhus weather</a>
  <a href="copenhagen.html">Copenhagen weather</a>
  <a href="horsens.html">Horsens weather</a>
  <a href="sendweather.html">Send weather data</a>

  </body>
</html>